@charset "utf-8";

.wrap{
    max-width: 900px;
    position: relative;
}
.img{
    width: 500px;
    height: 300px;
    background: red;
    position: absolute;
    top: -20px;
    left: 20px;
}
.textbox{
    width: 500px;
    height: 300px;
    background: blue;
    margin: 20px 0 0 auto;
    position: relative;
    z-index: 99;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}